
.ld-custom-name {
    color: #fefefe;
}

.ld-custom-name:visited {
    color: #fefefe;
}

.ld-custom-description {
  color: #fefefe;
}

.ld-custom-button-container {
    background-color: #2665d6;
    color: #fff;
}

.ld-custom-button {

}

.ld-custom-background-layer {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon {
    width: 28px;
    height: 28px;
    left: 18px;
}
