@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
}

.ld-custom-name {
    color: #fefefe;
}

.ld-custom-name:visited {
    color: #fefefe;
}

.ld-custom-description {
  color: #fefefe;
}

.ld-custom-button-container {
    background-color: #001234;
    border-radius: 6px;
    color: #fff;
    transition: background ease-in-out 200ms;    
}

.ld-custom-button-container:hover {
    transform: none;
    background-color: #01102e69;
}

.ld-custom-button {

}

.ld-custom-background-layer {
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon {
    width: 28px;
    height: 28px;
    left: 18px;
}
